.footer {
  color: $white;;
  a {
    color: $white;
  }
  ul.menu a {
    color: $white;
    font-size: 15px;
    line-height: 1;
    @include breakpoint(large) {
      font-size: 22px;
    }
  }

  ul.menu>li:after {
    color: $white;
  }

  p {
    font-size: inherit;
    line-height: inherit;
  }
}